* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  background-color: #9f73ab;
  color: #a3c7d6;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

#header {
  background-color: #624f82;
}

#heading {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#description,
#info,
.list-item,
#footer {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

#footer {
  padding: 0.5em;
  background-color: #624f82;
}

@media only screen and (max-width: 320px) {
  #header {
    padding: 1.2em 0 1em;
  }

  #heading {
    font-size: 1.8em;
    padding: 0 0.7em 0.3em;
  }

  #heading,
  #description,
  .container {
    text-align: center;
  }

  #description {
    font-size: 1.3em;
    padding: 0 0.7em;
  }

  #info {
    display: none;
    visibility: hidden;
  }

  .container {
    padding: 0.7em;
    margin: 0 auto;
  }

  .list-item {
    padding: 0.2em 0;
  }

  .list-item,
  #footer {
    font-size: 1.2em;
  }

  #footer {
    display: none;
    visibility: hidden;
  }
}
