* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  color: #a3c7d6;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

#header {
  background-color: #624f82;
}

#heading {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#description,
#info,
.list-item,
#footer {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

#heading,
#description,
#info,
.container {
  text-align: center;
}

.container {
  background-color: #9f73ab;
}

#list {
  list-style-type: none;
}

.list-item:hover {
  cursor: pointer;
}

.list-item.crossed-out {
  text-decoration: line-through;
}

#footer {
  background-color: #624f82;
}

@media only screen and (max-width: 320px) {
  #header {
    padding: 1.2em 0 1em;
  }

  #heading {
    padding: 0 0.7em 0.3em;
    font-size: 1.6em;
  }

  #description {
    padding: 0 0.7em;
  }

  #info {
    display: none;
    visibility: hidden;
  }

  .container {
    padding: 0.7em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  #list {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .list-item {
    padding: 0.2em 0;
    width: 80%;
  }

  #description,
  .list-item {
    font-size: 1.2em;
  }

  #footer {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (min-width: 321px) and (max-width: 660px) {
  #header {
    padding: 1.3em 0 1.1em;
  }

  #heading {
    padding: 0 0.7em 0.3em;
    font-size: 1.7em;
  }

  #description,
  #info {
    padding: 0 0.7em;
  }

  .container {
    padding: 0.7em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  #list {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .list-item {
    padding: 0.2em 0;
    width: 70%;
  }

  #description,
  #info,
  .list-item,
  #footer {
    font-size: 1.3em;
  }

  #footer {
    padding: 0.5em;
  }
}
