* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  background-color: #9f73ab;
  color: #a3c7d6;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

#header {
  background-color: #624f82;
}

#heading {
  text-align: center;
  margin: 0 auto;
  padding: 0.7em 1em 0 1em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}

#description {
  text-align: center;
  padding: 0 1em;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 1.6em;
}

#info {
  text-align: center;
  padding: 0 1em 0.5em 1em;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 1.6em;
}

.container {
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;
}

.list-item {
  list-style: none;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 1.6em;
  width: 23%;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.list-item:hover {
  cursor: pointer;
}

.list-item.crossed-out {
  text-decoration: line-through;
}

#footer {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  padding: 0.5em;
  background-color: #624f82;
}
